{% extends 'base.html' %} {%block title%}Blogly - User Info{% endblock %} {%
block content %}
<h1>User Info</h1>
<div>
  <img class="ppic" src="{{user.image_url}}" alt="Profile Picture" />
  <p>User: {{user.first_name}} {{user.last_name}}</p>
  <form>
    <button formmethod="GET" formaction="/users/{{user.id}}/edit">Edit</button>
    <button formmethod="POST" formaction="/users/{{user.id}}/delete">
      Delete
    </button>
  </form>
  <h2>Posts</h2>
  <ul>
    {% for post in user.posts %}
    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
    {% endfor %}
  </ul>
</div>
<form action="/users/{{user.id}}/posts/new">
  <button>Add a Post by {{user.first_name}}</button>
</form>
<br />
<a href="/">Home</a>
{% endblock %}
